# Server Configuration
SERVER_PORT=7000

# SSH Configuration for GE CT Tomograph
CT_SSH_HOST=10.1.3.107:22
CT_SSH_USER=root
CT_SSH_PASSWORD="#bigguy"
CT_SSH_MODE=legacy
CT_REMOTE_LOG_DIR=/usr/g/service/log

# Database Configuration (PostgreSQL)
DB_HOST=127.0.0.1
DB_PORT=5432
DB_USER=mitf_user
DB_PASSWORD=mitf_password
DB_NAME=mitf_db
DB_SSLMODE=disable
