# Environment variables
.env
.env.*
!.env.example


# Go build outputs
/tmp/
tmp/
main
main.exe

# IDEs
.idea/
.vscode/
*.suo
*.ntvsca*
*.njsproj
*.sln
*.sw?

# Runtime state / Offsets
*offsets.json

# Archives
*.zip
*.tar.gz
*.tgz

# Data directory (exclude static configurations, ignore generated mock/runtime data)
/data/*
/scratch
!/data/tube_models.json

